@model IEnumerable<CleanArchitecture.Application.ViewModels.ToDoViewModel>

<div class="container body-content">
  <div class="row todo-content">
    @foreach (var todo in Model)
    {
      <div class="todo-image-container">
        <div class="todo-image" style="background-image:url(@todo.ImageUrl)"></div>
      </div>
      <span>@todo.Name</span>
    }
  </div>
</div>